@font-face {
  font-family: "iconfont"; /* Project id 4035587 */
  src:
    url("iconfont.woff2?t=1687155286718") format("woff2"),
    url("iconfont.woff?t=1687155286718") format("woff"),
    url("iconfont.ttf?t=1687155286718") format("truetype");
}

.qm-vnit-iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qm-vnit-icon-image:before {
  content: "\e6f5";
}

.qm-vnit-icon-minus-circle:before {
  content: "\e780";
}

.qm-vnit-icon-plus-circle:before {
  content: "\e781";
}

.qm-vnit-icon-close:before {
  content: "\e7fc";
}

.qm-vnit-icon-rotate-left:before {
  content: "\e901";
}

.qm-vnit-icon-rotate-right:before {
  content: "\e902";
}

.qm-vnit-icon-swap-outline:before {
  content: "\e6c8";
}

.qm-vnit-icon-arrow-left-bold:before {
  content: "\e685";
}

.qm-vnit-icon-arrow-right-bold:before {
  content: "\e687";
}
