.content-form-head {
  margin-bottom: 24px;
  padding: 24px 24px 0;
  background: #fff;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.content-form-head .ant-form-item-control-input-content {
  padding-right: 10px;
}
.content-form-head .ant-col.ant-form-item-label {
  min-width: 80px;
}
.content-form-head-row {
  transition: all 0.2s ease;
}
