.qm-vnit-upload-image-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 102px;
  height: 102px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.02);
  transition: all 0.3s ease;
}
.qm-vnit-upload-image-label:hover {
  border-color: #1677ff;
}
.qm-vnit-upload-image-label.enter-from {
  transition: none;
  transform: translateX(-100px);
}
.qm-vnit-upload-image-slot {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.qm-vnit-upload-image-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
